.paragraph--section__one--title {
    color: white
}

.paragraph--home__blue--text {
    color: #0082C3;
    font-size: 14px;
    font-family: Roboto Condensed, Sans-serif;
    font-weight: 600;
    background-color: rgba(193,193,193,0);
    border-radius: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

/*PLP*/
.paragraph--search__text--sortby {
    color: #242323;
    font-family: Roboto,sans-serif !important;
    font-size: 13px;
    font-weight: 600;
}
.container--search__text--sortby {
    justify-content: flex-end;
    padding-right: 15px;
}