/*HOME*/
.flexRowContent--home__flex-layout--section--one {
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.flexRowContent--home__flex--blue {
    white-space: nowrap;
    gap: 5px;
    width: fit-content !important;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flexRowContent--home__flex-layout--rd {
    align-items: center;

}

.flexRowContent--home__flex-layout--section--two :global(.vtex-store-components-3-x-imageElement) {
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
}

.flexRowContent--home__flex-layout--section--two {
    justify-content: space-between;
    margin: 10px;
}
.flexRow--home__flex-row--slider-destacados {
    margin: 40px 0 0 60px
}
.flexRowContent--home__image-slider {
    margin: 15px;
}

/* PDP */
.flexCol--product__info--data {
    width: 25vw !important;
}
.flexColChild--product__info--data {
    height: fit-content !important;
    margin: 10px;
}

.flexColChild--product__info--data :global(.vtex-button) {
    background-color: #ffea28;
    /* height: 56px; */
    border-radius: 4px;
    color: #4e4e4e;
    border: none;
    margin-top: 50px;
    margin-bottom: 20px;
}

/*MENU*/
.flexCol--flex__subcategorias2 {
    gap: 40px;
    background-color: white;
    position: absolute;
    left: 20vw;
    top: 4vh;
    height: 440px;
    z-index: 1;
}
.flexColChild--flex__subcategorias2 {
    height: 50%;
    border: none !important;
}
.flexRow--flex__menu--desktop {
    width: 17%;
}
.flexColChild--flex__categorias {
    border-right: 1px solid #a8a8a8;
}
.flexRowContent--flex__subcategorias-title :global(.vtex-menu-2-x-styledLinkContent) {
    font-style: italic;
    color: #0082C3;
}
.flexCol--flex__menu-item--deporte {
    padding: 20px 25px;
    width: fit-content;
}
.flexCol--flex__menu-item--deporte:hover {
    border-bottom: 4px solid #0082C3;
}
/* .flexColChild--flex__menu-item--deporte :global(.vtex-menu-2-x-styledLinkContent) {
    justify-content: center;
} */
.flexColChild--flex__categorias :global(.vtex-menu-2-x-styledLinkContent):active {
    padding: 5px 0px;
    background-color: #0082C3;
    color: white;
}
.flexColChild--flex__categorias :global(.vtex-menu-2-x-styledLinkContent) {
    white-space: normal;
}
.flexCol--flex-col__subcategorias-brands :global(.vtex-menu-2-x-styledLinkContent):active {
    padding: 0;
    background-color: white;
    color: black;
}
.flexCol--flex-col__subcategorias-brands :global(.vtex-menu-2-x-styledLinkContent) {
    white-space: nowrap;
}
.flexColChild--flex__menu-item--uunidades {
    width: 200px;
    padding: 20px 25px
}
.flexColChild--flex__menu-item--uunidades:hover {
    border-bottom: 4px solid red;
}


/*PLP*/
.flexColChild--search__flex-col--products-plp {
    height: fit-content !important;
}
.flexRowContent--search__flex-col--orderby-plp {
    margin-bottom: 30px;
}
.flexRow--search__flex-row--plp {
    margin-bottom: 100px;
}
.flexColChild--search__flex-col--filters-plp {
    margin: 40px 0px 0px 40px;
}


/*MEGA-MENÚ*/
.flexRow--mega-menu__flex-row--mobile {
    width: 80%;
}
.flexRow--mega-menu__flex-row--close {
    background: linear-gradient(90deg,#f0f0f0,#fff);
    width: 65px;
}
.flexRow--mega-menu__flex-row--mobile :global(.vtex-store-components-3-x-container) {
    padding: 0 !important;
}
.flexRowContent--mega-menu__flex-row--perfil-deportivo {
    display: flex;
    background: linear-gradient(90deg,#004876,#176ea6,#0082c3,#176ea6,#004876)!important;
}
.flexRowContent--mega-menu__flex-row--perfil-deportivo {
    padding: 18px 30px;
}
.flexColChild--mega-menu__flex-col--icon-perfil-deportivo {
    background-color: transparent;
}
