.flexColChild--footer__flex--col-1{
    height: fit-content !important;
}
.flexColChild--footer__flex--col-3{
    height: fit-content !important;
}
.flexColChild--footer__flex--col-4{
    height: fit-content !important;
}


.flexRow--footer__flex--desktop-top {
    border-bottom: 1px solid hsla(0,0%,44%,.14);
    margin-top: 40px;
}

.flexRow--footer__flex--social-pago--desktop {
    border-bottom: 1px solid hsla(0,0%,44%,.14);
    padding-top: 28px;
    padding-bottom: 22px;
}


.flexRowContent--footer__flex--social-pago--desktop {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.flexCol--footer__flex-col--legal-info--frase-logo {
    padding-top: 75px;
    padding-bottom: 75px;
    width: 100vw;
    background: radial-gradient(#0082c3,#176ea6,#004876);
    justify-content: center;
}


.flexColChild--footer__flex-col--legal-info--frase-logo {
    text-align: center;
}

.flexRow--footer__flex--legal-info--desktop :global(.vtex-store-components-3-x-container) {
    margin: 0;
    padding: 0;
    max-width: none;
}

.flexCol--footer__flex--icons {
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    height: 250px;
    border-right: 1px solid #edeff1;
}
.flexCol--footer__flex--last-icon {
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    height: 250px;
}
.flexRow--footer__flex--images-blue :global(.vtex-store-components-3-x-container) {
    margin: 0;
    padding: 0;
    max-width: none;
}
.flexRowContent--footer__flex--images-top {
    width: 80%;
    margin: auto;
    padding: 0 15px;
    position: absolute;
    z-index: 1;
    left: 10%;
    background-color: white;
}

@media (max-width: 575px) {
    .flexCol--footer__flex-col--legal-info--frase-logo {
        padding-top: 40px;
        padding-bottom: 0;
    }
    .flexRowContent--footer__social-networks--row {
        display: flex;
    }
}

@media (max-width: 768px) {
    .flexColChild--footer__flex-col--legal-info--frase-logo :global(.vtex-store-components-3-x-logoImage) {
        height: 75px;
    }

}