/*HEADER*/
.paragraph--header__text--top {
    margin: 0;
    font-size: 15px;
    color: #ffffff;
    background-color: #0082C3;
}


.paragraph--header__text--middle {
    margin: 5px;
    color: #00111a;
    font-family: Roboto,system-ui,-apple-system,sans-serif;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.42;
}
.paragraph--home___text--aguinaldos {
    font-size: 16px;
    font-family: Roboto, sans-serif;
    color: #242323;
    font-weight: 700;
}

/*MENU*/
.paragraph--header__menu--deportes {
    padding: 17px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 500!important;
}
.paragraph--header__menu--deportes:hover {
    border-bottom: 4px solid #0082C3;
    color: #0082C3
}


.paragraph--header__menu--uunidades {
    padding: 17px;
    margin-bottom: 0;
    margin-top: 0;
    color: red;
    font-weight: 500!important;
}
.paragraph--header__menu--uunidades:hover {
    border-bottom: 4px solid red;
}