.menuContainer {
    justify-content: center;
}

.menuItem {
    padding: 20px 25px;
    height: 20px;
}

.menuItem--isOpen {
    padding: 20px 25px;
    height: 100px;
}

.styledLinkContainer {
    padding: 0px 0px 0px 0px;
}
.submenuWrapper {
    position: fixed;
    width: 100vw;
}
.flexCol--flex__categorias {
    width: 50%;
}